@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
   width: 100vw;
   height: 100vh;
}
.light-bg{
    background: url('./assets/5460789.jpg');
    background-position: center;
    background-size: cover;
    animation: bg-load 1s ease-in-out;
}
.dark-bg{
    background: url('./assets/5433358.jpg');
    background-position: center;
    background-size: cover;
    animation: bg-load 1s ease-in-out;
}
@keyframes bg-load{
    0%{
        opacity: 0.3;
        scale: 1.15;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
.navbar .logo{
    color: rgba(255,255,255,0.9);
    margin-left: 2.5rem;
}
.navbar{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid rgba(255,255,255,0.25);
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(1.5px);
    border-radius: 1rem;
    padding: 0.7rem 0.3rem;
}
.navbar li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    padding: 0.9rem;
    color: rgba(255,255,255,0.68);
    font-family: 'Poppins';
    font-weight: bold;
    transition: 300ms;
}
.navbar ul li a:hover{
    border-radius: 1rem;
    font-size: 0.9rem;
    color: white;
    background-color: rgba(255,255,255,0.3);
}
.navbar ul{
  display: flex;

}