*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
}
.first{
    background-color: black;
    height: 100vh;
}
.second{
    background-color: cyan;
}