@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-dark{
    position: absolute;
    z-index: -999;
    height: auto;
    width: 100vw;
    background: url('./assets/5433358.jpg');
    background-position: center;
    background-size: cover;
    animation: 1s bg-dark-load  
}
.background-light{
    position: absolute;
    z-index: -999;
    height: 100%;
    width: 100%;
    background: url('./assets/5460789.jpg');
    background-position: center;
    background-size: cover;
    animation: 1s bg-light-load;
}
@keyframes bg-light-load{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bg-dark-load{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.page-container{
    padding: 2rem 4rem;
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}
.navbar-dark{
    box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    animation: 2s navbar-dark-load;
}
.navbar-light{
    box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.7);
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(3px);
    animation: 2s navbar-light-load;
}
.navbar ul{
    display: flex;
}
.navbar ul li a{
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: bold;
    color: rgba(255,255,255,0.56);
}
.navbar ul li a:hover{
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.9);
    border-radius:1rem;
}
.navbar ul li{
    list-style: none;
}
.menu{
    display: none;
}
@keyframes navbar-dark-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes navbar-light-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@media (max-width:573px){
    .not-menu{
        display: none;
    }
    .menu{
        display: block;
    }
}
.container{
    margin: 2rem 0rem;
  display: flex;
  gap: 1rem;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.7);
    border-radius: 1rem;
    backdrop-filter: blur(3px);
}
.text-dark{
    background-color: rgba(0,0,0,0.2);
    animation: 2s text-dark-load ;
}
.text-light{
    background-color: rgba(255,255,255,0.1);
    animation: 2s text-light-load;
}
.text h1{
    text-align: center;
    padding: 1rem;
    color: rgba(255,255,255,0.8);
}
.text p{
    padding: 0rem 1rem;
    color: rgba(255,255,255,0.6);
}
.text span{
    padding: 0.7rem;
    border-radius: 2rem;
    color: rgba(255,255,255,0.65);
    transition: 300ms ease-in-out; 
}
.text span:hover{
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.8)
}
.character{
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.character-dark{
    background-color: rgba(0,0,0,0.2);
    animation: 2s character-dark-load;
}
.character-light{
    
    background-color: rgba(255,255,255,0.1);
    animation: 2s character-light-load;
}
.characterImage{

    height: 300px;
    width: 400px;
    animation: 4s character-move infinite;
}
@keyframes character-move{
    0%,100%{
     transform: rotate(7deg);
    }
    50%{
    transform: rotate(-7deg);
    }
}
@keyframes character-dark-load{
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes character-light-load{
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes text-dark-load{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes text-light-load{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}
@media (max-width: 820px){
    .container{
        flex-direction: column;
    }
}
@media (max-width: 431px){
    .characterImage{
        height: 200px;
        width:300px;
    }
}
