.clock-flex-container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-flex-container span{
    position: absolute;
    z-index: 1;
    left: 2%;
    color: rgba(255,255,255,0.8);
    top: 50%;
    font-weight: bold;
    font-size: 1.8rem;
    transform: translateY(-50%) rotate(-90deg);
}
.clock-container{
       height: 90%;
       width: 60%;
       backdrop-filter: blur(7px);
       background: rgba(0,0,0,0.2);
       border-radius: 50%;
       box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.7);
       position: relative;
       font-weight: bold;
}
.clock-container .number{
padding: 0.1rem;
position: absolute;
width: 100%;
height: 100%;
color: rgba(255,255,255,0.7);
text-align: center;
}
.clock-container .number1{
    transform: rotate(30deg);
}
.clock-container .number2{
    transform: rotate(60deg);
}
.clock-container .number3{
    transform: rotate(90deg);
}
.clock-container .number4{
    transform: rotate(120deg);
}
.clock-container .number5{
    transform: rotate(150deg);
}
.clock-container .number6{
    transform: rotate(180deg);
}
.clock-container .number7{
    transform: rotate(210deg);
}
.clock-container .number8{
    transform: rotate(240deg);
}
.clock-container .number9{
    transform: rotate(270deg);
}
.clock-container .number10{
    transform: rotate(300deg);
}
.clock-container .number11{
    transform: rotate(330deg);
}
.clock-container .number12{
    transform: rotate(360deg);
}

.clock-container .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock-container .hand.second {
    width: 3px;
    height: 40%;
    background-color: red;
    transition: 200ms ease-in-out;
  }
  
  .clock-container .hand.minute {
    width: 7px;
    height: 37%;
    background-color: rgba(255,255,255,0.8);
  }
  
  .clock-container .hand.hour {
    width: 10px;
    height: 32%;
    background-color: rgba(255,255,255,0.6);
  }
.clock-container::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }