.firstcontainer{
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    margin-top: 1rem;
}
.character-container{
    background-color: rgba(0,0,0,0.15);
 backdrop-filter: blur(5px);
 box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.2),
    0rem 0rem 2rem rgba(0,0,0,0.4);
border-radius: 4rem;
}
.character-img{
    height: 30rem;
    animation: 5s character-move linear infinite;
}
.text-container{
 padding: 1rem;
 margin: 1rem 0rem;
 background-color: rgba(0,0,0,0.15);
 backdrop-filter: blur(5px);
 box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.2),
    0rem 0rem 2rem rgba(0,0,0,0.4);
border-radius: 1.5rem;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: 'Poppins';
 color: rgba(255,255,255,0.9);
}
.text-header{
text-align: center;
margin: 2rem 0.3rem;

}
.text-p{
padding: 0rem 4rem;
}
.text-h5{
    margin: 2rem 0rem;
    padding: 0.8rem;
    border-radius: 2rem;
    font-size: 1rem;
    transition: 200ms ease-in-out;
}
.text-h5:hover{
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
@keyframes character-move{
    0%,100%{
        transform: rotateZ(14deg)
    }
    50%{
        transform: rotateZ(-14deg)
    }
}